/* You can add global styles to this file, and also import other style files */
.bg-purple{
    background-color: #524078;
}

.bg-grey{
    background-color: #F7F7F9;
}

.hl-text {
    color: #FCE491;
}